

.header-title {
	text-align: center;
	padding:20px 0;
}

nav {
	border-top: solid 1px #6c6b6b;
	border-bottom: solid 1px #6c6b6b;
}

.nav-list {
	text-align: center;
	margin: 0 auto;
	padding: 15px 0;
}

.nav-list-item {
	margin:15px 20px;
	display: inline-block;
	list-style: none;
}

.clearfix::after {
	content: "";
	display:block;
	clear: both;
}

.main {
	width: 800px;
	height: 600px;
	margin: 50px auto;
}

.main-content1 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #e6ffe9;
}

.main-content2 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #cbffd3;
}

.main-content3 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #aeffbd;
}

.main-content4 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #93ffab;
}

.main-content5 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #f3ffd8;
}

.main-content6 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #edffbe;
}

.main-content7 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #e9ffa5;
}

.main-content8 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #e4ff8d;
}

.main-content9 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #d9e5ff;
}

.main-content10 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #bad3ff;
}

.main-content11 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #a4c6ff;
}

.main-content12 {
	width: 200px;
	height:200px;
	float:left;
	background-color: #8eb8ff;
}

footer {
	height: 120px;
	text-align: center;
	background-color: #848282;
}

.footer-text {
	line-height: 120px;
	color: #fff;
}