＃9章演習
* {
	padding: 0;
	margin:0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.flow {
	width:960px;
	margin:50px auto;
}

.flow-content {
	position: relative;
	float: left;
	width: 280px;
	padding: 10px;
	margin-right: 30px;
	border:1px solid #fafafa;
}

.flow-headline {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: orange;
	color: white;
}

.flow-content img {
	width: 280px;
	height: auto;
	background-image: url(img/flow01.png)
	background-size:cover;
}

.flow-content:nth-child(3) {
	margin-right: 0;
}

